# Python cache
__pycache__/
*.pyc

# Generated Output Directories
results/
validation_results/

# Trained Models (Large binary pickles)
trained_models/
*.pkl

# Large Data / Binary Project Files
# Keep CSVs if they are <100MB, but ignore the binary folders
data/MTGP/
*.prj

# IDE settings
.vscode/
.idea/